In [4]:
using CSV
using DataFrames

In [5]:
path = "../../../data/spanish-highschool"
specific_schools = ["t11_10", "t11_9", "t11_8", "t11_7", "t11_6", "t11_5", "t11_4", "t11_3", "t11_2", "t11_1", "t1", "t2", "t6"]

dfs_all2 = []
dfs_all = []
# create empty dataframe with two columns names school and class
df_index = DataFrame(school = String[], class = Int[])
for school in specific_schools
    dfs = []
    class = 0
    while true
        class += 1
        try
            fname = "Edges2_" * school * "_class_" * string(class) * ".csv"
            df = CSV.read(joinpath(path, fname), DataFrame, delim=",", header=true)
            # remove the first column
            df = select(df, names(df)[2:end])
            push!(dfs, df)
            push!(df_index, [school, class])
            # println(first(df))
        catch e
            # print(e)
            println(length(dfs))
            if length(dfs) == 0
                fname = "Edges2_" * school * "_multiple.csv"
                df = CSV.read(joinpath(path, fname), DataFrame, delim=",", header=true)
                df = select(df, names(df)[2:end])
                push!(dfs, df)

                push!(df_index, [school, class])
            end
            break
        end
    end
    push!(dfs_all, dfs)
    append!(dfs_all2, dfs)
end

# first(df)

4
4
4
1
1
4
4
2
4
2
0
0
0

In [6]:
length(dfs_all2)

33

In [7]:
# get all edges
edges_all = [[(df.source[i], df.target[i]) for i in 1:size(df, 1)] for df in dfs_all2]

# edges[1:5]

# print([length.(unique.(edges_all)), length.(edges_all)])


# remove self loops
edges_all = [[(u, v) for (u, v) in edges if u != v] for edges in edges_all]

df_index.edge_count = length.(edges_all)
df_index.unique_edge_count = length.(unique.(edges_all))

df_index

33Ã—4 DataFrame
 Row â”‚ school  class  edge_count  unique_edge_count
     â”‚ String  Int64  Int64       Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ t11_10      1        1605               1487
   2 â”‚ t11_10      2        1919               1760
   3 â”‚ t11_10      3        1670               1545
   4 â”‚ t11_10      4        1435               1325
   5 â”‚ t11_9       1         915                838
   6 â”‚ t11_9       2        1403               1312
   7 â”‚ t11_9       3         864                783
   8 â”‚ t11_9       4        1013                943
  â‹®  â”‚   â‹®       â‹®        â‹®               â‹®
  27 â”‚ t11_2       3        2073               1925
  28 â”‚ t11_2       4        1859               1738
  29 â”‚ t11_1       1        1541               1417
  30 â”‚ t11_1       2        2955               2773
  31 â”‚ t1          1        5921               5921
  32 â”‚ t2          1        3032               3032
  33 â”‚ t6          1       12812              12812
                                     18 rows omitted

In [8]:
# check if for repeated edges the sign is the same

# get all edges
edges_sign_all = [[(df.source[i], df.target[i], df.sign[i]) for i in 1:size(df, 1)] for df in dfs_all2]

# edges_sign = unique(edges_sign)

# remove self loops
edges_sign_all = [[(u, v, s) for (u, v, s) in edges_sign if u != v] for edges_sign in edges_sign_all]

33-element Vector{Vector{Tuple{Int64, Int64, Int64}}}:
 [(5143, 5232, 1), (5143, 5242, 1), (5143, 5248, 1), (5143, 5257, 1), (5143, 5234, 1), (5143, 5241, 1), (5143, 5237, 1), (5143, 5234, 1), (5143, 5235, 1), (5143, 5241, 1)  â€¦  (5258, 5229, 1), (5258, 5234, 1), (5258, 5236, 1), (5258, 5242, 1), (5258, 5243, 1), (5258, 5231, -1), (5258, 5233, -1), (5258, 5249, -1), (5258, 5241, -1), (5258, 5231, -1)]
 [(5259, 5355, 1), (5259, 5349, 1), (5259, 5346, 1), (5259, 5349, 1), (5259, 5347, -1), (5259, 5353, -1), (5259, 5347, -1), (5260, 5266, 1), (5260, 5274, 1), (5260, 5284, 1)  â€¦  (5370, 5348, 1), (5370, 5348, 1), (5370, 5354, 1), (5370, 5357, 1), (5370, 5363, 1), (5370, 5367, 1), (5370, 5347, -1), (5370, 5364, -1), (5370, 5356, -1), (5370, 5360, -1)]
 [(5372, 5440, 1), (5372, 5469, 1), (5372, 5450, 1), (5372, 5468, 1), (5372, 5438, 1), (5372, 5409, 1), (5372, 5399, 1), (5372, 5414, 1), (5372, 5428, 1), (5372, 5451, 1)  â€¦  (5487, 5407, 1), (5487, 5386, 1), (5487, 5399, 1), (5487, 5443, -1), (5487, 5431, -1), (5487, 5464, -1), (5487, 5469, -1), (5487, 5430, -1), (5487, 5460, -1), (5487, 5467, -1)]
 [(5488, 5533, 1), (5488, 5535, 1), (5488, 5505, 1), (5488, 5530, 1), (5488, 5514, 1), (5488, 5502, 1), (5488, 5533, 1), (5489, 5592, 1), (5489, 5496, 1), (5489, 5501, 1)  â€¦  (5599, 5583, -1), (5599, 5559, -1), (5599, 5591, -1), (5599, 5556, -1), (5599, 5492, -1), (5599, 5557, -1), (5599, 5512, -1), (5599, 5544, -1), (5599, 5589, -1), (5599, 5560, -1)]
 [(3177, 3191, 1), (3177, 3289, 1), (3177, 3188, 1), (3177, 3280, 1), (3177, 3216, 1), (3177, 3274, 1), (3177, 3217, 1), (3177, 3274, 1), (3177, 3273, -1), (3177, 3287, -1)  â€¦  (3297, 3223, 1), (3297, 3230, 1), (3297, 3234, 1), (3297, 3255, 1), (3297, 3276, 1), (3297, 3278, -1), (3297, 3285, -1), (3297, 3286, -1), (3297, 3226, -1), (3297, 3226, -1)]
 [(5601, 5631, 1), (5601, 5668, 1), (5601, 5689, 1), (5601, 5611, 1), (5601, 5627, 1), (5601, 5652, 1), (5601, 5640, 1), (5601, 5733, 1), (5601, 5642, 1), (5601, 5616, 1)  â€¦  (5754, 5746, -1), (5754, 5733, -1), (5754, 5741, -1), (5757, 5726, 1), (5757, 5616, 1), (5757, 5601, 1), (5757, 5743, 1), (5757, 5683, -1), (5757, 5727, -1), (5757, 5653, -1)]
 [(5763, 5807, 1), (5763, 5813, 1), (5763, 5813, 1), (5763, 5816, 1), (5764, 5769, 1), (5764, 5770, 1), (5764, 5763, 1), (5764, 5771, 1), (5764, 5765, 1), (5764, 5773, 1)  â€¦  (5875, 5872, -1), (5875, 5865, -1), (5875, 5873, -1), (5875, 5864, -1), (5875, 5872, -1), (5876, 5857, 1), (5876, 5872, 1), (5876, 5863, 1), (5876, 5854, 1), (5876, 5874, 1)]
 [(5877, 5917, 1), (5877, 5960, 1), (5877, 5913, 1), (5877, 5921, 1), (5877, 5916, 1), (5877, 5922, 1), (5877, 5925, 1), (5877, 5985, 1), (5877, 5934, 1), (5877, 5976, 1)  â€¦  (5990, 5916, 1), (5990, 5915, 1), (5990, 5902, 1), (5990, 5899, 1), (5990, 5967, 1), (5990, 5986, 1), (5991, 5976, 1), (5991, 5986, 1), (5991, 5985, -1), (5991, 5971, -1)]
 [(2112, 2159, 1), (2112, 2145, 1), (2112, 2148, 1), (2112, 2143, 1), (2112, 2153, 1), (2112, 2163, 1), (2112, 2141, 1), (2112, 2138, 1), (2112, 2162, 1), (2112, 2146, 1)  â€¦  (2200, 2158, 1), (2200, 2172, 1), (2200, 2172, 1), (2200, 2165, -1), (2202, 2145, 1), (2202, 2146, 1), (2202, 2153, 1), (2202, 2160, 1), (2202, 2163, 1), (2202, 2161, -1)]
 [(2204, 2217, 1), (2204, 2288, 1), (2204, 2287, 1), (2204, 2229, 1), (2204, 2211, 1), (2204, 2227, 1), (2204, 2219, 1), (2204, 2225, 1), (2204, 2321, 1), (2204, 2206, 1)  â€¦  (2338, 2293, -1), (2338, 2331, -1), (2338, 2293, -1), (2339, 2338, 1), (2339, 2208, 1), (2339, 2211, -1), (2339, 2293, -1), (2339, 2293, -1), (2339, 2297, -1), (2339, 2331, -1)]
 â‹®
 [(4119, 4204, 1), (4119, 4131, 1), (4119, 4159, 1), (4119, 4129, 1), (4119, 4125, 1), (4119, 4122, -1), (4119, 4134, -1), (4119, 4124, -1), (4121, 4146, 1), (4121, 4243, 1)  â€¦  (4294, 4267, 1), (4294, 4279, 1), (4294, 4262, -1), (4294, 4131, -1), (4294, 4227, -1), (4294, 4277, -1), (4294, 4250, -1), (4294, 4257, -1), (4294, 4128, -1), (4294, 4257, -1)]
 [(4298, 4397, 1), (4298, 4428, 1), (4298, 4460, 1), (4298, 4311, 1), (4298, 4310, 1), (4298, 4459, 1), (4298, 4474, 1), (4298, 4473, 1), (4298, 4303, 1), (4298, 4465, 1)  â€¦  (4477, 4442, 1), (4477, 4411, 1), (4477, 4325, 1), (4477, 4354, 1), (4477, 4382, 1), (4477, 4451, 1), (4477, 4454, 1), (4477, 4457, 1), (4477, 4467, 1), (4477, 4468, 1)]
 [(4478, 4484, 1), (4478, 4498, 1), (4478, 4557, 1), (4478, 4605, 1), (4478, 4566, 1), (4478, 4490, 1), (4478, 4499, 1), (4478, 4489, 1), (4478, 4621, 1), (4478, 4649, 1)  â€¦  (4649, 4503, 1), (4649, 4597, 1), (4649, 4609, 1), (4649, 4621, 1), (4649, 4627, 1), (4649, 4630, 1), (4649, 4637, 1), (4649, 4645, 1), (4649, 4647, 1), (4649, 4623, -1)]
 [(4650, 4654, 1), (4650, 4656, 1), (4650, 4659, 1), (4650, 4661, 1), (4650, 4663, 1), (4650, 4664, 1), (4650, 4665, 1), (4650, 4666, 1), (4650, 4668, 1), (4650, 4669, 1)  â€¦  (4821, 4808, 1), (4821, 4811, 1), (4821, 4816, 1), (4821, 4794, -1), (4821, 4797, -1), (4821, 4796, -1), (4821, 4803, -1), (4821, 4804, -1), (4821, 4805, -1), (4821, 4803, -1)]
 [(3501, 3505, 1), (3501, 3527, 1), (3501, 3520, 1), (3501, 3505, 1), (3501, 3518, -1), (3501, 3516, -1), (3501, 3518, -1), (3502, 3625, 1), (3503, 3526, 1), (3503, 3624, 1)  â€¦  (3640, 3637, 1), (3640, 3626, 1), (3640, 3624, 1), (3640, 3632, 1), (3641, 3636, 1), (3641, 3637, 1), (3641, 3635, 1), (3641, 3617, 1), (3641, 3636, 1), (3641, 3625, -1)]
 [(3643, 3751, 1), (3643, 3669, 1), (3643, 3764, 1), (3643, 3679, 1), (3643, 3790, 1), (3643, 3731, 1), (3643, 3687, 1), (3643, 3664, 1), (3643, 3644, 1), (3643, 3714, 1)  â€¦  (3789, 3728, 1), (3789, 3763, 1), (3789, 3672, 1), (3789, 3752, 1), (3789, 3664, 1), (3789, 3660, 1), (3789, 3664, 1), (3789, 3769, 1), (3789, 3776, 1), (3789, 3790, 1)]
 [(191, 198, -1), (191, 211, -1), (191, 212, 1), (191, 223, 1), (191, 285, 1), (192, 193, 1), (192, 194, 1), (192, 195, 1), (192, 196, 1), (192, 197, 1)  â€¦  (599, 584, 1), (599, 585, 1), (599, 588, 1), (599, 589, -1), (599, 591, 1), (599, 592, 1), (599, 593, 1), (599, 596, 1), (599, 597, 1), (599, 598, 1)]
 [(703, 692, 1), (703, 696, 1), (703, 698, 1), (703, 712, 1), (703, 723, 1), (703, 722, 1), (703, 737, 1), (703, 741, 1), (703, 749, 1), (703, 755, 1)  â€¦  (928, 787, 1), (928, 851, 1), (928, 880, 1), (928, 884, 1), (928, 895, 1), (928, 888, 1), (928, 909, 1), (928, 922, 1), (928, 925, 1), (928, 926, 1)]
 [(1091, 1090, 1), (1091, 1093, 1), (1091, 1095, -1), (1091, 1096, 1), (1091, 1097, -1), (1091, 1098, 1), (1091, 1099, -1), (1091, 1101, 1), (1091, 1102, 1), (1091, 1104, 1)  â€¦  (1496, 1484, 1), (1496, 1486, 1), (1496, 1487, 1), (1496, 1490, 1), (1496, 1493, 1), (1497, 1480, 1), (1497, 1491, 1), (1497, 1492, 1), (1497, 1494, 1), (1497, 1495, 1)]

In [9]:
# get list of all nodes
nodes_all = [unique([[u for (u, v) in edges_sign]..., [v for (u, v) in edges_sign]...]) for edges_sign in edges_sign_all]

df_index.node_count = length.(nodes_all)
# print(length(nodes))

# filter out self loops
dfs_all2_filtered = [filter(x -> x.source != x.target, df) for df in dfs_all2]

# get list of outgoing edges for each node by grouping by source
node_outs_gbf_all = [groupby(df_filtered, :source) for df_filtered in dfs_all2_filtered]

# get list of outgoing edges for each node by collecting targets
node_outs_all = [combine(node_outs_gbf, x -> [x[!, :target]]) for node_outs_gbf in node_outs_gbf_all]
# rename!(node_outs, :x1 => :targets)
for node_outs in node_outs_all
    rename!(node_outs, :x1 => :targets)
end
# map!((x) -> rename!(x, :x1 => :targets), node_outs_all)

# create a dictionary with the outgoing edges for each node
node_outs_dict_all = [Dict(zip(node_outs.source, unique.(node_outs.targets))) for node_outs in node_outs_all]

node_outs_dict_all[1]

Dict{Int64, Vector{Int64}} with 94 entries:
  5239 => [5258, 5238, 5246, 5235, 5234, 5245, 5231, 5253, 5243, 5232, 5257, 52â€¦
  5195 => [5249, 5217, 5179, 5235, 5248, 5159, 5257, 5187, 5146, 5162  â€¦  5236,â€¦
  5235 => [5152, 5175, 5246, 5213, 5170, 5154, 5149, 5240, 5222, 5189  â€¦  5184,â€¦
  5152 => [5231, 5232, 5229, 5235, 5257, 5234, 5243, 5258]
  5161 => [5154, 5198, 5155, 5158, 5189, 5177, 5235, 5185, 5190, 5151, 5150, 51â€¦
  5233 => [5231, 5232, 5237, 5240, 5249, 5243, 5217, 5242, 5246, 5225, 5245]
  5175 => [5241, 5246, 5235, 5248, 5257, 5234, 5245, 5143, 5210, 5194  â€¦  5229,â€¦
  5158 => [5246]
  5232 => [5258, 5233, 5238, 5246, 5235, 5229, 5254, 5234, 5245, 5241, 5231, 52â€¦
  5143 => [5232, 5242, 5248, 5257, 5234, 5241, 5237, 5235, 5243, 5236, 5238, 52â€¦
  5184 => [5193, 5152, 5188, 5148, 5191, 5204, 5165, 5169, 5170, 5171, 5175, 51â€¦
  5243 => [5238, 5246, 5235, 5213, 5170, 5245, 5241, 5257, 5176, 5242  â€¦  5206,â€¦
  5223 => [5217, 5222, 5224, 5202, 5221, 5249, 5213, 5150, 5149, 5151, 5164, 51â€¦
  5240 => [5216, 5215, 5232, 5180, 5221, 5239, 5214, 5237, 5173, 5181, 5191, 52â€¦
  5193 => [5195, 5188, 5179, 5175, 5177, 5196, 5191, 5184, 5199, 5176]
  5237 => [5236, 5240, 5253, 5238, 5229, 5239]
  5169 => [5234, 5235]
  5245 => [5236, 5240, 5249, 5232, 5235, 5254, 5237, 5246, 5248, 5257, 5145]
  5155 => [5154, 5198, 5158, 5169, 5189, 5177, 5235, 5185, 5190, 5151, 5150, 51â€¦
  â‹®    => â‹®

In [10]:
df_index

33Ã—5 DataFrame
 Row â”‚ school  class  edge_count  unique_edge_count  node_count
     â”‚ String  Int64  Int64       Int64              Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ t11_10      1        1605               1487          94
   2 â”‚ t11_10      2        1919               1760          98
   3 â”‚ t11_10      3        1670               1545          99
   4 â”‚ t11_10      4        1435               1325          95
   5 â”‚ t11_9       1         915                838          67
   6 â”‚ t11_9       2        1403               1312          94
   7 â”‚ t11_9       3         864                783          75
   8 â”‚ t11_9       4        1013                943          83
  â‹®  â”‚   â‹®       â‹®        â‹®               â‹®              â‹®
  27 â”‚ t11_2       3        2073               1925         118
  28 â”‚ t11_2       4        1859               1738         125
  29 â”‚ t11_1       1        1541               1417         107
  30 â”‚ t11_1       2        2955               2773         125
  31 â”‚ t1          1        5921               5921         326
  32 â”‚ t2          1        3032               3032         202
  33 â”‚ t6          1       12812              12812         534
                                                 18 rows omitted

(5239, 5258, 5253)

In [14]:
# get transitive triads

triads_s = []
for node_outs_dict in node_outs_dict_all
    triads = []
    for (source, targets) in node_outs_dict
        for target in targets
            if target in keys(node_outs_dict)
                for target_target in node_outs_dict[target]
                    if target_target in targets
                        append!(triads, [(source, target, target_target)])
                    end
                end
            end
        end
    end
    push!(triads_s, triads)
end
# for (source, targets) in node_outs_dict
#     for target in targets
#         if target in keys(node_outs_dict)
#             for target_target in node_outs_dict[target]
#                 if target_target in targets
#                     append!(triads, [(source, target, target_target)])
#                 end
#             end
#         end
#     end
# end
length.(triads_s), length.(unique.(triads_s))

([9598, 14186, 9564, 7494, 5246, 7569, 3175, 4240, 3084, 2213  â€¦  19904, 7735, 34789, 12537, 10103, 7551, 26585, 45760, 24365, 143112], [9598, 14186, 9564, 7494, 5246, 7569, 3175, 4240, 3084, 2213  â€¦  19904, 7735, 34789, 12537, 10103, 7551, 26585, 45760, 24365, 143112])

In [18]:
length.(unique.(triads_s))[15:end]

19-element Vector{Int64}:
   7527
  11108
   9451
   8737
   3212
   3798
   3172
   1376
  12077
  19904
   7735
  34789
  12537
  10103
   7551
  26585
  45760
  24365
 143112

In [20]:
# get cyclic triads
# thanks to sorting, each such triad will be counted only once

source_nodes_s = [sort(collect(keys(node_outs_dict))) for node_outs_dict in node_outs_dict_all]

cyclic_triads_s = []
for (source_nodes, node_outs_dict) in zip(source_nodes_s, node_outs_dict_all)
    cyclic_triads = []
    for source in source_nodes
        targets = sort(node_outs_dict[source])
        # filter out targets that have smaller id than source
        targets = [target for target in targets if target > source]
        for target in targets
            if target in keys(node_outs_dict)
                target_targets = sort(node_outs_dict[target])
                # filter out target_targets that have smaller id than source
                target_targets = [target_target for target_target in target_targets if target_target > source]
                # I hope above is correct
                # target_targets = node_outs_dict[target]
                for target_target in target_targets
                    if target_target in keys(node_outs_dict)
                        if source in node_outs_dict[target_target]
                            append!(cyclic_triads, [(source, target, target_target)])
                        end
                    end
                end
            end
        end
    end
    push!(cyclic_triads_s, cyclic_triads)
end
# for source in source_nodes
#     targets = sort(node_outs_dict[source])
#     # filter out targets that have smaller id than source
#     targets = [target for target in targets if target > source]
#     for target in targets
#         if target in keys(node_outs_dict)
#             target_targets = sort(node_outs_dict[target])
#             # filter out target_targets that have smaller id than source
#             target_targets = [target_target for target_target in target_targets if target_target > source]
#             # I hope above is correct
#             # target_targets = node_outs_dict[target]
#             for target_target in target_targets
#                 if target_target in keys(node_outs_dict)
#                     if source in node_outs_dict[target_target]
#                         append!(cyclic_triads, [(source, target, target_target)])
#                     end
#                 end
#             end
#         end
#     end
# end
length.(cyclic_triads_s)

33-element Vector{Int64}:
  2069
  2524
  1577
  1550
  1216
  1639
   610
   756
   625
   527
     â‹®
  1663
  6933
  2720
  2132
  1771
  5690
 10398
  5569
 32411

In [20]:
cyclic_triads[end]

(7666, 7691, 6946)

In [23]:
df_triads_s = [DataFrame(triads) for triads in triads_s]
for df_triads in df_triads_s
    rename!(df_triads, [:P, :O, :X]);
end
# rename!(df_triads, [:P, :O, :X]);

po_edges_s = [[(df_triads.P[i], df_triads.O[i]) for i in 1:size(df_triads, 1)] for df_triads in df_triads_s]
ox_edges_s = [[(df_triads.O[i], df_triads.X[i]) for i in 1:size(df_triads, 1)] for df_triads in df_triads_s]
px_edges_s = [[(df_triads.P[i], df_triads.X[i]) for i in 1:size(df_triads, 1)] for df_triads in df_triads_s];

In [24]:
df_cyclic_triads_s = [DataFrame(cyclic_triads) for cyclic_triads in cyclic_triads_s]
for df_cyclic_triads in df_cyclic_triads_s
    rename!(df_cyclic_triads, [:P, :O, :X]);
end
# rename!(df_cyclic_triads, [:P, :O, :X]);

po_edges_cyclic_s = [[(df_cyclic_triads.P[i], df_cyclic_triads.O[i]) for i in 1:size(df_cyclic_triads, 1)] for df_cyclic_triads in df_cyclic_triads_s]
ox_edges_cyclic_s = [[(df_cyclic_triads.O[i], df_cyclic_triads.X[i]) for i in 1:size(df_cyclic_triads, 1)] for df_cyclic_triads in df_cyclic_triads_s]
xp_edges_cyclic_s = [[(df_cyclic_triads.X[i], df_cyclic_triads.P[i]) for i in 1:size(df_cyclic_triads, 1)] for df_cyclic_triads in df_cyclic_triads_s];

In [25]:
df_all_triads_s = [DataFrame([triads..., cyclic_triads...]) for (triads, cyclic_triads) in zip(triads_s, cyclic_triads_s)]
for df_all_triads in df_all_triads_s
    rename!(df_all_triads, [:P, :O, :X]);
end
# rename!(df_all_triads, [:P, :O, :X]);
nrow.(df_all_triads_s)
# po_edges_all = [(df_all_triads.P[i], df_all_triads.O[i]) for i in 1:size(df_all_triads, 1)]

33-element Vector{Int64}:
  11667
  16710
  11141
   9044
   6462
   9208
   3785
   4996
   3709
   2740
      â‹®
   9398
  41722
  15257
  12235
   9322
  32275
  56158
  29934
 175523

In [28]:
# get sign of edges in triads. Take the last value of edge

for (i, (edges_sign, df_triads)) in enumerate(zip(edges_sign_all, df_triads_s))
    df_triads[!, "po_sign"] = [edges_sign[findall([edge] .== edges_all[i])][end][3] for edge in po_edges_s[i]]
    df_triads[!, "ox_sign"] = [edges_sign[findall([edge] .== edges_all[i])][end][3] for edge in ox_edges_s[i]]
    df_triads[!, "px_sign"] = [edges_sign[findall([edge] .== edges_all[i])][end][3] for edge in px_edges_s[i]]
end

# df_triads[!, "po_sign"] = [edges_sign[findall([edge] .== edges)][end][3] for edge in po_edges]
# df_triads[!, "ox_sign"] = [edges_sign[findall([edge] .== edges)][end][3] for edge in ox_edges]
# df_triads[!, "px_sign"] = [edges_sign[findall([edge] .== edges)][end][3] for edge in px_edges]
first(df_triads_s[1], 5)

5Ã—6 DataFrame
 Row â”‚ P      O      X      po_sign  ox_sign  px_sign
     â”‚ Int64  Int64  Int64  Int64    Int64    Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  5239   5258   5253        1        1        1
   2 â”‚  5239   5258   5229        1        1        1
   3 â”‚  5239   5258   5234        1        1        1
   4 â”‚  5239   5258   5236        1        1        1
   5 â”‚  5239   5258   5242        1        1        1

In [30]:
# get sign of edges in cyclic triads. Take the last value of edge

for (i, (edges_sign, df_cyclic_triads)) in enumerate(zip(edges_sign_all, df_cyclic_triads_s))
    df_cyclic_triads[!, "po_sign"] = [edges_sign[findall([edge] .== edges_all[i])][end][3] for edge in po_edges_cyclic_s[i]]
    df_cyclic_triads[!, "ox_sign"] = [edges_sign[findall([edge] .== edges_all[i])][end][3] for edge in ox_edges_cyclic_s[i]]
    df_cyclic_triads[!, "xp_sign"] = [edges_sign[findall([edge] .== edges_all[i])][end][3] for edge in xp_edges_cyclic_s[i]]
end

first(df_cyclic_triads_s[1], 5)

5Ã—6 DataFrame
 Row â”‚ P      O      X      po_sign  ox_sign  xp_sign
     â”‚ Int64  Int64  Int64  Int64    Int64    Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  5143   5232   5234       -1        1        1
   2 â”‚  5143   5232   5235       -1        1        1
   3 â”‚  5143   5234   5165        1        1        1
   4 â”‚  5143   5234   5170        1        1        1
   5 â”‚  5143   5234   5171        1        1        1

In [31]:
# get sign of edges in all triads. Take the last value of edge

for (df_all_triads, df_triads, df_cyclic_triads) in zip(df_all_triads_s, df_triads_s, df_cyclic_triads_s)
    df_all_triads[!, "po_sign"] = [df_triads[!, "po_sign"]..., df_cyclic_triads[!, "po_sign"]...]
    df_all_triads[!, "ox_sign"] = [df_triads[!, "ox_sign"]..., df_cyclic_triads[!, "ox_sign"]...]
    df_all_triads[!, "xpx_sign"] = [df_triads[!, "px_sign"]..., df_cyclic_triads[!, "xp_sign"]...]
end

# df_all_triads[!, "po_sign"] = [df_triads[!, "po_sign"]..., df_cyclic_triads[!, "po_sign"]...]
# df_all_triads[!, "ox_sign"] = [df_triads[!, "ox_sign"]..., df_cyclic_triads[!, "ox_sign"]...]
# df_all_triads[!, "xpx_sign"] = [df_triads[!, "px_sign"]..., df_cyclic_triads[!, "xp_sign"]...]

first(df_all_triads_s[1], 5)

5Ã—6 DataFrame
 Row â”‚ P      O      X      po_sign  ox_sign  xpx_sign
     â”‚ Int64  Int64  Int64  Int64    Int64    Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  5239   5258   5253        1        1         1
   2 â”‚  5239   5258   5229        1        1         1
   3 â”‚  5239   5258   5234        1        1         1
   4 â”‚  5239   5258   5236        1        1         1
   5 â”‚  5239   5258   5242        1        1         1

In [32]:
# save df_triads
# CSV.write(joinpath(path, "soc-wiki-elec-triads.csv"), df_triads)

In [33]:
# save df_cyclic_triads
# CSV.write(joinpath(path, "soc-wiki-elec-cyclic-triads.csv"), df_cyclic_triads)

In [34]:
# save df_all_triads
# CSV.write(joinpath(path, "soc-wiki-elec-all-triads.csv"), df_all_triads)

In [35]:
# df_triads = CSV.read(joinpath(path, "soc-wiki-elec-triads.csv"), DataFrame)

# triads = [(df_triads.P[i], df_triads.O[i], df_triads.X[i]) for i in 1:size(df_triads, 1)]

In [36]:
# df_cyclic_triads = CSV.read(joinpath(path, "soc-wiki-elec-cyclic-triads.csv"), DataFrame)

# cyclic_triads = [(df_cyclic_triads.P[i], df_cyclic_triads.O[i], df_cyclic_triads.X[i]) for i in 1:size(df_cyclic_triads, 1)]

In [37]:
# df_all_triads = CSV.read(joinpath(path, "soc-wiki-elec-all-triads.csv"), DataFrame)

In [38]:
# identify triads that consist of the same edges

all_triads_s = []
all_triads_ordered_s = []
all_triads_unique_s = []
all_triads_dict_s = []
for (triads, cyclic_triads) in zip(triads_s, cyclic_triads_s)
    all_triads = [triads..., cyclic_triads...]
    push!(all_triads_s, all_triads)

    all_triads_ordered = sort.([[p, o, x] for (p, o, x) in all_triads])
    push!(all_triads_ordered_s, all_triads_ordered)

    all_triads_unique = unique(all_triads_ordered)
    push!(all_triads_unique_s, all_triads_unique)

    # create a dictionary with unique triads as keys and indices of their appearance as values
    all_triads_dict = Dict(all_triads_unique .=> [findall(all_triads_ordered .== [triad]) for triad in all_triads_unique])
    push!(all_triads_dict_s, all_triads_dict)
end

# all_triads = [triads..., cyclic_triads...]

# all_triads_ordered = sort.([[p, o, x] for (p, o, x) in all_triads])
# all_triads_unique = unique(all_triads_ordered)

# # create a dictionary with unique triads as keys and indices of their appearance as values
# all_triads_dict = Dict(all_triads_unique .=> [findall(all_triads_ordered .== [triad]) for triad in all_triads_unique])

In [39]:
using JLD2, FileIO

save(joinpath(path, "spanish-all-triads-dict.jld2"), "all_triads_dict_s", all_triads_dict_s)

In [40]:
# create dataframe from dict



df_all_triads_dict_s = [DataFrame(triad = collect(keys(all_triads_dict)), inds = collect(values(all_triads_dict)),
                           count = length.(collect(values(all_triads_dict)))) for all_triads_dict in all_triads_dict_s]

# collect(keys(triads_dict))
df_all_triads_dict_s[1]

4805Ã—3 DataFrame
  Row â”‚ triad               inds                               count
      â”‚ Arrayâ€¦              Arrayâ€¦                             Int64
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚ [5143, 5236, 5238]  [2185, 2186]                           2
    2 â”‚ [5175, 5200, 5217]  [1607, 1780, 2801, 10235]              4
    3 â”‚ [5154, 5192, 5198]  [9899]                                 1
    4 â”‚ [5206, 5209, 5222]  [7007]                                 1
    5 â”‚ [5177, 5243, 5249]  [2408]                                 1
    6 â”‚ [5168, 5190, 5257]  [4400]                                 1
    7 â”‚ [5149, 5163, 5170]  [4565]                                 1
    8 â”‚ [5175, 5194, 5223]  [1558, 1575]                           2
  â‹®   â”‚         â‹®                           â‹®                    â‹®
 4799 â”‚ [5158, 5216, 5222]  [5296, 6948]                           2
 4800 â”‚ [5207, 5215, 5223]  [8948]                                 1
 4801 â”‚ [5175, 5200, 5245]  [1784]                                 1
 4802 â”‚ [5151, 5175, 5210]  [1553, 1827]                           2
 4803 â”‚ [5164, 5168, 5223]  [4267, 4330]                           2
 4804 â”‚ [5168, 5196, 5215]  [4687, 8618]                           2
 4805 â”‚ [5191, 5195, 5196]  [4749]                                 1
                                                    4790 rows omitted

In [42]:
# add columns with the type of triad (transitive or cyclic) and inds in the source dataframe

# length(triads), length(cyclic_triads), length(all_triads)

for (i, df_all_triads_dict) in enumerate(df_all_triads_dict_s)
    df_all_triads_dict[!, "triad_type"] = [(inds .> length(triads_s[i])) .+ 1 for inds in df_all_triads_dict.inds]

    df_all_triads_dict[!, "exact_inds"] = [inds .- length(triads_s[i]) .* (type .- 1) for (inds, type) in zip(df_all_triads_dict.inds, df_all_triads_dict.triad_type)]
end

# df_all_triads_dict[!, "triad_type"] = [(inds .> length(triads)) .+ 1 for inds in df_all_triads_dict.inds]

# df_all_triads_dict[!, "exact_inds"] = [inds .- length(triads) .* (type .- 1) for (inds, type) in zip(df_all_triads_dict.inds, df_all_triads_dict.triad_type)]

first(df_all_triads_dict_s[1], 5)

5Ã—5 DataFrame
 Row â”‚ triad               inds                       count  triad_type    exa â‹¯
     â”‚ Arrayâ€¦              Arrayâ€¦                     Int64  Arrayâ€¦        Arr â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ [5143, 5236, 5238]  [2185, 2186]                   2  [1, 1]        [21 â‹¯
   2 â”‚ [5175, 5200, 5217]  [1607, 1780, 2801, 10235]      4  [1, 1, 1, 2]  [16
   3 â”‚ [5154, 5192, 5198]  [9899]                         1  [2]           [30
   4 â”‚ [5206, 5209, 5222]  [7007]                         1  [1]           [70
   5 â”‚ [5177, 5243, 5249]  [2408]                         1  [1]           [24 â‹¯
                                                                1 column omitted

### Balance and hierarchy analysis including cyclic triads

In [43]:
get_transitive_edges(triad) = [(triad[1], triad[2]), (triad[2], triad[3]), (triad[1], triad[3])]
get_cyclic_edges(triad) = [(triad[1], triad[2]), (triad[2], triad[3]), (triad[3], triad[1])]
function get_edges(triad, type)
    if type == 1
        return get_transitive_edges(triad)
    elseif type == 2
        return get_cyclic_edges(triad)
    end
end

get_edges (generic function with 1 method)

In [46]:
using PyCall

net = 1
df_all_triads_dicti = df_all_triads_dict_s[net]
triadsi = triads_s[net]
cyclic_triadsi = cyclic_triads_s[net]
df_all_triadsi = df_all_triads_s[net]

i = 2
triad = df_all_triads_dicti.triad[i]
types = df_all_triads_dicti.triad_type[i]
inds = df_all_triads_dicti.inds[i]
exact_inds = df_all_triads_dicti.exact_inds[i]

# get triad list
sources = [triadsi, cyclic_triadsi]
type_sources = sources[types]
# triad_list = sources[types][exact_inds]
triad_list = [triad_source[exact_ind] for (triad_source, exact_ind) in zip(type_sources, exact_inds)]
# triad_list = triads[inds]

edges_list = get_edges.(triad_list, types)
edges_list = reduce(vcat, edges_list)
unique_edges = unique(edges_list)

py"""
import networkx as nx
"""

G = py"nx.DiGraph"([edges_list...])

# print(G.edges)

triad_census = py"nx.triadic_census"(G)

triad_census_triads = collect(keys(triad_census))

tc_ind = collect(values(triad_census)) .== 1

println(triad_census_triads[tc_ind][1])

# get signed triad type
sign_vals_s = values(df_all_triadsi[inds, 4:6])
sign_vals_s = Matrix(sign_vals_s)
sign_vals_s = mapslices(x->[x], sign_vals_s, dims=2)[:]

n_arr = zeros(Int, 8)

for sign_vals in sign_vals_s
    connections_values = sign_vals .== 1
    n_arr[connections_values[1]*4 + connections_values[3]*2 + connections_values[2]+1] += 1
end
n_arr
# n_arr

210

8-element Vector{Int64}:
 1
 1
 1
 0
 0
 0
 1
 0

In [97]:
triad_census_triads[tc_ind][1]

"120C"

In [48]:
using PyCall
py"""
import networkx as nx
"""

G = py"nx.DiGraph"()

triad_census = py"nx.triadic_census"(G)
triad_census_triads = collect(keys(triad_census))

# signed triad types:
n_arr_dict_s = [Dict( triad_census_triads .=> [zeros(Int, 12) for _ in 1:length(triad_census_triads)]) for _ in 1:length(triads_s)]
# first 8 as standard n_arr_dict, the next 4 from cycles: 9 - 0 neg links, 10 - 1 neg link etc.
n_bal_dict_s = [Dict( triad_census_triads .=> [0 for _ in 1:length(triad_census_triads)]) for _ in 1:length(triads_s)]
n_hier_dict_s = [Dict( triad_census_triads .=> [0 for _ in 1:length(triad_census_triads)]) for _ in 1:length(triads_s)]
n_tot_dict_s = [Dict( triad_census_triads .=> [0 for _ in 1:length(triad_census_triads)]) for _ in 1:length(triads_s)]

n_trans_bal_dict_s = [Dict( triad_census_triads .=> [0 for _ in 1:length(triad_census_triads)]) for _ in 1:length(triads_s)]
n_trans_hier_dict_s = [Dict( triad_census_triads .=> [0 for _ in 1:length(triad_census_triads)]) for _ in 1:length(triads_s)]
n_trans_tot_dict_s = [Dict( triad_census_triads .=> [0 for _ in 1:length(triad_census_triads)]) for _ in 1:length(triads_s)]

n_cyclic_bal_dict_s = [Dict( triad_census_triads .=> [0 for _ in 1:length(triad_census_triads)]) for _ in 1:length(triads_s)]
n_cyclic_hier_dict_s = [Dict( triad_census_triads .=> [0 for _ in 1:length(triad_census_triads)]) for _ in 1:length(triads_s)]
n_cyclic_tot_dict_s = [Dict( triad_census_triads .=> [0 for _ in 1:length(triad_census_triads)]) for _ in 1:length(triads_s)]

inform_after = 10000
counter = 0
for (i, df_all_triads_dict) in enumerate(df_all_triads_dict_s)
    sources = [triads_s[i], cyclic_triads_s[i]]
    
    for (triad, inds, count, trans_or_cyclics, exact_inds) in eachrow(df_all_triads_dict)
        type_sources = sources[trans_or_cyclics]
        triad_list = [triad_source[exact_ind] for (triad_source, exact_ind) in zip(type_sources, exact_inds)]

        # get edges list from triad list
        edges_list = get_edges.(triad_list, trans_or_cyclics)
        edges_list = reduce(vcat, edges_list)
        unique_edges = unique(edges_list)

        # call Python from julia, use networkx to get triad census on subgraphs
        G = py"nx.DiGraph"([unique_edges...])
        triad_census = py"nx.triadic_census"(G)
        triad_census_triads = collect(keys(triad_census))
        tc_ind = collect(values(triad_census)) .== 1
        triad_type = triad_census_triads[tc_ind][1]

        # get signed triad type
        sign_vals_s = values(df_all_triads_s[i][inds, 4:6])
        sign_vals_s = Matrix(sign_vals_s)
        sign_vals_s = mapslices(x->[x], sign_vals_s, dims=2)[:]

        hier = true
        hier_trans = true
        hier_cyclic = true
        bal_trans = true
        bal_cyclic = true
        # indicators that trans/cyclic triads were considered at all
        some_trans = false
        some_cyclic = false
        for (sign_vals, trans_or_cyclic) in zip(sign_vals_s, trans_or_cyclics)
            if trans_or_cyclic == 1
                some_trans = true
                n_trans_tot_dict_s[i][triad_type] += 1
                if prod(sign_vals) != 1
                    bal_trans = false
                end

                connections_values = sign_vals .== 1
                signed_triad_type = connections_values[1]*4 + connections_values[3]*2 + connections_values[2]+1
                
            elseif trans_or_cyclic == 2
                some_cyclic = true

                n_cyclic_tot_dict_s[i][triad_type] += 1
                if prod(sign_vals) != 1
                    bal_cyclic = false
                end

                num_pos_links = sum(sign_vals .== 1)
                signed_triad_type = 9 + num_pos_links
            else
                println(trans_or_cyclics)
                error("Wrong type")
            end
            n_arr_dict_s[i][triad_type][signed_triad_type] += 1

            if signed_triad_type in [3, 6, 9, 12]
                hier = false
                if signed_triad_type in [3, 6]
                    hier_trans = false
                else
                    hier_cyclic = false
                end
            end
        end
        n_tot_dict_s[i][triad_type] += 1
        n_bal_dict_s[i][triad_type] += all(prod.(sign_vals_s) .== 1)
        n_hier_dict_s[i][triad_type] += hier

        n_trans_bal_dict_s[i][triad_type] += bal_trans * some_trans
        n_cyclic_bal_dict_s[i][triad_type] += bal_cyclic * some_cyclic

        n_trans_hier_dict_s[i][triad_type] += hier_trans * some_trans
        n_cyclic_hier_dict_s[i][triad_type] += hier_cyclic * some_cyclic

        # println(triad_list, inds)
        counter += 1
        # if counter > 5000
        #     break
        # end
        if counter % inform_after == 0
            # print time
            # print()
            # break
            println("Processed $counter triads. Currently in $i-th network")
            flush(stdout)
        # elseif counter > 23000
        #     println("Processed $counter triads")
        # else
            # break
        end
    end
end

Processed 10000 triads. Currently in 2-th network
Processed 20000 triads. Currently in 4-th network
Processed 30000 triads. Currently in 8-th network
Processed 40000 triads. Currently in 14-th network
Processed 50000 triads. Currently in 17-th network
Processed 60000 triads. Currently in 20-th network
Processed 70000 triads. Currently in 24-th network
Processed 80000 triads. Currently in 25-th network
Processed 90000 triads. Currently in 26-th network
Processed 100000 triads. Currently in 26-th network
Processed 110000 triads. Currently in 28-th network
Processed 120000 triads. Currently in 30-th network
Processed 130000 triads. Currently in 31-th network
Processed 140000 triads. Currently in 31-th network
Processed 150000 triads. Currently in 32-th network
Processed 160000 triads. Currently in 33-th network
Processed 170000 triads. Currently in 33-th network
Processed 180000 triads. Currently in 33-th network
Processed 190000 triads. Currently in 33-th network
Processed 200000 triads. Currently in 33-th network
Processed 210000 triads. Currently in 33-th network

In [51]:
# create dataframe from dicts

df_cyclic_n_arr_s = [DataFrame(triad = collect(keys(n_arr_dict)), n_arr = collect(values(n_arr_dict)),
                     n_bal = collect(values(n_bal_dict)), n_hier = collect(values(n_hier_dict)),
                     n_tot = collect(values(n_tot_dict)), n_trans_bal = collect(values(n_trans_bal_dict)), 
                     n_trans_hier = collect(values(n_trans_hier_dict)), n_trans_tot = collect(values(n_trans_tot_dict)), 
                     n_cyclic_bal = collect(values(n_cyclic_bal_dict)), n_cyclic_hier = collect(values(n_cyclic_hier_dict)),
                        n_cyclic_tot = collect(values(n_cyclic_tot_dict))) for (n_arr_dict, n_bal_dict, n_hier_dict, n_tot_dict, 
                        n_trans_bal_dict, n_trans_hier_dict, n_trans_tot_dict, n_cyclic_bal_dict, n_cyclic_hier_dict, n_cyclic_tot_dict) in
                        zip(n_arr_dict_s, n_bal_dict_s, n_hier_dict_s, n_tot_dict_s, n_trans_bal_dict_s, n_trans_hier_dict_s, 
                        n_trans_tot_dict_s, n_cyclic_bal_dict_s, n_cyclic_hier_dict_s, n_cyclic_tot_dict_s)]

df_cyclic_n_arr_s[1]

16Ã—11 DataFrame
 Row â”‚ triad   n_arr                              n_bal  n_hier  n_tot  n_tran â‹¯
     â”‚ String  Arrayâ€¦                             Int64  Int64   Int64  Int64  â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 030C    [0, 0, 0, 0, 0, 0, 0, 0, 4, 21, â€¦     34      52     69         â‹¯
   2 â”‚ 111U    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
   3 â”‚ 120D    [37, 307, 15, 91, 23, 83, 71, 50â€¦    394     470    565
   4 â”‚ 120C    [7, 29, 22, 48, 21, 11, 128, 192â€¦    217     256    458
   5 â”‚ 201     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0         â‹¯
   6 â”‚ 111D    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
   7 â”‚ 210     [28, 111, 52, 193, 69, 193, 302,â€¦    598     165    960
   8 â”‚ 003     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
   9 â”‚ 012     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0         â‹¯
  10 â”‚ 021D    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
  11 â”‚ 030T    [70, 181, 43, 160, 112, 71, 234,â€¦   1005    1426   1540
  12 â”‚ 021U    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
  13 â”‚ 300     [19, 27, 17, 71, 23, 65, 75, 144â€¦    227       9    291         â‹¯
  14 â”‚ 102     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
  15 â”‚ 021C    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
  16 â”‚ 120U    [9, 48, 14, 63, 127, 120, 154, 1â€¦    701     790    922
                                                               6 columns omitted

In [52]:
for df_cyclic_n_arr in df_cyclic_n_arr_s
        
    df_cyclic_n_arr.per_bal = df_cyclic_n_arr.n_bal ./ df_cyclic_n_arr.n_tot
    df_cyclic_n_arr.per_hier = df_cyclic_n_arr.n_hier ./ df_cyclic_n_arr.n_tot
    df_cyclic_n_arr.per_trans_bal = df_cyclic_n_arr.n_trans_bal ./ df_cyclic_n_arr.n_tot
    df_cyclic_n_arr.per_trans_hier = df_cyclic_n_arr.n_trans_hier ./ df_cyclic_n_arr.n_tot
    df_cyclic_n_arr.per_cyclic_bal = df_cyclic_n_arr.n_cyclic_bal ./ df_cyclic_n_arr.n_tot
    df_cyclic_n_arr.per_cyclic_hier = df_cyclic_n_arr.n_cyclic_hier ./ df_cyclic_n_arr.n_tot
    df_cyclic_n_arr.per_trans_bal_sep = [sum(n_arr[[2, 3, 5, 8]]) / n_tot for (n_arr, n_tot) in zip(df_cyclic_n_arr.n_arr, df_cyclic_n_arr.n_trans_tot)]
    df_cyclic_n_arr.per_cyclic_bal_sep = [sum(n_arr[[10, 12]]) / n_tot for (n_arr, n_tot) in zip(df_cyclic_n_arr.n_arr, df_cyclic_n_arr.n_cyclic_tot)]
    df_cyclic_n_arr.per_trans_hier_sep = [1 - sum(n_arr[[3,6]]) / n_tot for (n_arr, n_tot) in zip(df_cyclic_n_arr.n_arr, df_cyclic_n_arr.n_trans_tot)]
    df_cyclic_n_arr.per_cyclic_hier_sep = [sum(n_arr[[10, 11]]) / n_tot for (n_arr, n_tot) in zip(df_cyclic_n_arr.n_arr, df_cyclic_n_arr.n_cyclic_tot)]
    df_cyclic_n_arr.per_bal_sep = [sum(n_arr[[2, 3, 5, 8, 10, 12]]) / n_tot for (n_arr, n_tot) in zip(df_cyclic_n_arr.n_arr, df_cyclic_n_arr.n_trans_tot .+ df_cyclic_n_arr.n_cyclic_tot)]
    df_cyclic_n_arr.per_hier_sep = [1 - sum(n_arr[[3, 6, 9, 12]]) / n_tot for (n_arr, n_tot) in zip(df_cyclic_n_arr.n_arr, df_cyclic_n_arr.n_trans_tot .+ df_cyclic_n_arr.n_cyclic_tot)]
end
df_cyclic_n_arr_s[1]

16Ã—23 DataFrame
 Row â”‚ triad   n_arr                              n_bal  n_hier  n_tot  n_tran â‹¯
     â”‚ String  Arrayâ€¦                             Int64  Int64   Int64  Int64  â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 030C    [0, 0, 0, 0, 0, 0, 0, 0, 4, 21, â€¦     34      52     69         â‹¯
   2 â”‚ 111U    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
   3 â”‚ 120D    [37, 307, 15, 91, 23, 83, 71, 50â€¦    394     470    565
   4 â”‚ 120C    [7, 29, 22, 48, 21, 11, 128, 192â€¦    217     256    458
   5 â”‚ 201     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0         â‹¯
   6 â”‚ 111D    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
   7 â”‚ 210     [28, 111, 52, 193, 69, 193, 302,â€¦    598     165    960
   8 â”‚ 003     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
   9 â”‚ 012     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0         â‹¯
  10 â”‚ 021D    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
  11 â”‚ 030T    [70, 181, 43, 160, 112, 71, 234,â€¦   1005    1426   1540
  12 â”‚ 021U    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
  13 â”‚ 300     [19, 27, 17, 71, 23, 65, 75, 144â€¦    227       9    291         â‹¯
  14 â”‚ 102     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
  15 â”‚ 021C    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦      0       0      0
  16 â”‚ 120U    [9, 48, 14, 63, 127, 120, 154, 1â€¦    701     790    922
                                                              18 columns omitted

In [53]:
# access dataframe columns

cols = names(df_cyclic_n_arr_s[1])[startswith.(names(df_cyclic_n_arr_s[1]), "per")]

df_cyclic_n_arr_s[1][!, ["triad", cols...]]

16Ã—13 DataFrame
 Row â”‚ triad   per_bal     per_hier     per_trans_bal  per_trans_hier  per_cyc â‹¯
     â”‚ String  Float64     Float64      Float64        Float64         Float64 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 030C      0.492754    0.753623        0.0             0.0             0 â‹¯
   2 â”‚ 111U    NaN         NaN             NaN             NaN             NaN
   3 â”‚ 120D      0.697345    0.831858        0.697345        0.831858        0
   4 â”‚ 120C      0.473799    0.558952        0.576419        0.927948        0
   5 â”‚ 201     NaN         NaN             NaN             NaN             NaN â‹¯
   6 â”‚ 111D    NaN         NaN             NaN             NaN             NaN
   7 â”‚ 210       0.622917    0.171875        0.622917        0.7625          0
   8 â”‚ 003     NaN         NaN             NaN             NaN             NaN
   9 â”‚ 012     NaN         NaN             NaN             NaN             NaN â‹¯
  10 â”‚ 021D    NaN         NaN             NaN             NaN             NaN
  11 â”‚ 030T      0.652597    0.925974        0.652597        0.925974        0
  12 â”‚ 021U    NaN         NaN             NaN             NaN             NaN
  13 â”‚ 300       0.780069    0.0309278       0.780069        0.804124        0 â‹¯
  14 â”‚ 102     NaN         NaN             NaN             NaN             NaN
  15 â”‚ 021C    NaN         NaN             NaN             NaN             NaN
  16 â”‚ 120U      0.760304    0.856833        0.760304        0.856833        0
                                                               8 columns omitted

In [54]:
# read csv file to dataframe

# df = pd.read_csv(Path('../' + dataset + '/' + filename + '-bal_hier_all-triads-types.csv'))
# df

In [56]:
# save above dataframes

for (i, df_cyclic_n_arr) in enumerate(df_cyclic_n_arr_s)
    name = df_index.school[i] * "_class_" * string(df_index.class[i])
    CSV.write(joinpath(path, "spanish-bal-hier-all-triads-types-$name"), df_cyclic_n_arr)
    CSV.write(joinpath("spanish-bal-hier-all-triads-types-$name"), df_cyclic_n_arr)

    save(joinpath(path, "spanish-bal-hier-all-triads-types.jld2"), name, df_cyclic_n_arr)
    save(joinpath("spanish-bal-hier-all-triads-types.jld2"), name, df_cyclic_n_arr)
end

# CSV.write(joinpath(path, "spanish-bal_hier_all-triads-types.csv"), df_cyclic_n_arr)
# CSV.write(joinpath("spanish-bal_hier_all-triads-types.csv"), df_cyclic_n_arr)

# # save JLD2
# save(joinpath(path, "spanish-bal_hier_all-triads-types.jld2"), "df_cyclic_n_arr", df_cyclic_n_arr)
# save("spanish-bal_hier_all-triads-types.jld2", "df_cyclic_n_arr", df_cyclic_n_arr)

In [8]:
using JLD2
df_cyclic_n_arr = JLD2.load(joinpath(path, "soc-wiki-elec-bal_hier_all-triads-types.jld2"))["df_cyclic_n_arr"]

16Ã—11 DataFrame
 Row â”‚ triad   n_arr                              n_bal   n_hier  n_tot   n_tr â‹¯
     â”‚ String  Arrayâ€¦                             Int64   Int64   Int64   Int6 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 030C    [0, 0, 0, 0, 0, 0, 0, 0, 20, 426â€¦    4466    2735    6795       â‹¯
   2 â”‚ 111U    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦       0       0       0
   3 â”‚ 120D    [656, 2718, 804, 5957, 1529, 523â€¦   35682   39837   45556
   4 â”‚ 120C    [120, 318, 252, 1857, 346, 629, â€¦   11919    5310   17667
   5 â”‚ 201     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦       0       0       0       â‹¯
   6 â”‚ 111D    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦       0       0       0
   7 â”‚ 210     [148, 598, 344, 2666, 782, 2092,â€¦   11150    2018   15275
   8 â”‚ 003     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦       0       0       0
   9 â”‚ 012     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦       0       0       0       â‹¯
  10 â”‚ 021D    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦       0       0       0
  11 â”‚ 030T    [6394, 12945, 5252, 33371, 25469â€¦  354510  427497  462679
  12 â”‚ 021U    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦       0       0       0
  13 â”‚ 300     [30, 106, 43, 514, 100, 457, 520â€¦    1626      66    2119       â‹¯
  14 â”‚ 102     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦       0       0       0
  15 â”‚ 021C    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0â€¦       0       0       0
  16 â”‚ 120U    [1009, 1951, 819, 5918, 7351, 81â€¦   42431   49706   58259
                                                               6 columns omitted