In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import networkx as nx

from pathlib import Path

In [18]:
path = Path('../../../data/epinions')

df = pd.read_csv('../../../data/epinions/user_rating.txt', sep='\t', header=None)

# name columns
df.columns = ['source', 'target', 'sign', 'date']

df.head()

       source     target  sign        date
0  3287060356     232085    -1  2001/01/10
1  3288305540     709420     1  2001/01/10
2  3290337156     204418    -1  2001/01/10
3  3294138244     269243    -1  2001/01/10
4  3294138244  170692484    -1  2001/01/10

In [10]:
sum(df.sign == 1) / len(df)

0.8529722881198804

In [ ]:
# create network and calculate triadic census
G = nx.from_pandas_edgelist(df, 'source', 'target', 'sign', create_using=nx.DiGraph())

In [15]:
G.is_directed()

True

In [16]:
tcen = nx.triadic_census(G)
tcen

{'003': 381729219743007,
 '012': 76378799569,
 '102': 17027513185,
 '021D': 41490030,
 '021U': 48493351,
 '021C': 32569162,
 '111D': 20362369,
 '111U': 19115018,
 '030T': 1479047,
 '030C': 59899,
 '201': 5433309,
 '120D': 695450,
 '120U': 926939,
 '120C': 324586,
 '210': 877116,
 '300': 547039}

In [19]:
df_tcen_path = Path(path.joinpath('triad_census.h5'))

try:
    df_tcen = pd.DataFrame.from_dict(tcen, orient='index',
                        columns=['epinions']).transpose()
except:
    df_tcen_path = Path(path.joinpath('triad_census.h5'))

    df_tcen = pd.read_hdf(df_tcen_path)

df_tcen

,003,012,102,021D,021U,021C,111D,111U,030T,030C,201,120D,120U,120C,210,300
epinions,381729219743007,76378799569,17027513185,41490030,48493351,32569162,20362369,19115018,1479047,59899,5433309,695450,926939,324586,877116,547039

In [20]:
# save to hdf
df_tcen.to_hdf(df_tcen_path, key='epinions')

df_tcen.to_hdf(df_tcen_path.name, key='epinions')

In [21]:
df_tcen2 = pd.read_hdf(df_tcen_path)
df_tcen2

,003,012,102,021D,021U,021C,111D,111U,030T,030C,201,120D,120U,120C,210,300
epinions,381729219743007,76378799569,17027513185,41490030,48493351,32569162,20362369,19115018,1479047,59899,5433309,695450,926939,324586,877116,547039